<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.edusty.android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.AuthorizationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.VkAuthActivity"
            android:label="@string/title_activity_vk_auth" >
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Activities.SearchUniversityActivity"
            android:label="В каком ВУЗе Вы учитесь?" >
        </activity>
        <activity
            android:name=".Activities.SearchGroupActivity"
            android:label="В какой группе группе Вы учитесь?" >
        </activity>
        <activity
            android:name=".Activities.CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
